body {
background-color: #44377d;
text-align:center;
}
.refer{
  color:gray;
  font-size:8px;
}
#bsg a, #bsg a:visited {
  color:#80a0d4;
  font-size: 22px;
text-decoration:none;
font-family:trebuchet MS;
font-weight:bold;

}
#snake a,#snake a:visited{
  color:#E2B051;
 font-size: 22px;
text-decoration:none;
font-family:trebuchet MS;
font-weight:bold;

}
.creature{
background-color:White;
border-radius:10px;
border-style: dashed;
border-color:#6E4D9B;
padding: 15px; 
margin: 30px auto;
box-shadow:0px 4px 12px #BA5BED;
transition: 0.5s;
width: 450px;
}
.creature:hover{
background-color:#F3E8FF;
transform:scale(1.1);
width:550px
}
h1{
color:#B9A023;
}
p{
margin: 2px 0 2px 0;
}
#hammer a,#hammer a:visited{
color:#9FA9BE;
font-size: 22px;
text-decoration:none;
font-family:trebuchet MS;
font-weight:bold;
}
